<header class="navbar header-navbar">
    <div class="navbar-logo">
        <a><img class="img-fluid" src="./assets/img/logo.svg" alt="logo" /></a>
    </div>
    <div class="nav-item select-enterprise">
        <div class="rounded-circle">ENG</div><span>Atual Engenharia</span><i class="far fa-angle-down"></i>
    </div>
    <div class="nav-item search d-none d-md-flex">
        <i class="fal fa-search"></i>
        <input type="text" class="form-control" placeholder="Buscar...">
    </div>
    <div style="margin-left: auto; display: flex;">
        <div class="nav-item notifications">
            <i class="far fa-bell "></i>
        </div>
        <div class="nav-item notifications">
            <i class="far fa-clock "></i>
        </div>
        <div class="nav-item notifications">
            <i class="far fa-comment-alt has-notification"></i>
        </div>
    </div>
    <div class="nav-item user">
        <p class="d-none d-md-block">Olá, <span>Luciana</span></p>
        <img class="rounded-circle" src="../assets/img/users/luciana.jpg">
        <i class="far fa-angle-down"></i>
    </div>
</header>