<app-header></app-header>
<app-navigation></app-navigation>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="">Clientes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Cadastro de Clientes</div>
        <div class="card-body">
          <form class="" role="form">
            <div class="form-group form-group-default required">
              <label class="fade">Nome Completo</label>
              <input type="email" class="form-control" required="">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group-default required">
                  <label>First name</label>
                  <input type="text" class="form-control" required="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-default">
                  <label>Last name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group form-group-default required">
              <label>Password</label>
              <input type="password" class="form-control" required="">
            </div>
            <div class="form-group form-group-default required">
              <label>Placeholder</label>
              <input type="email" class="form-control" placeholder="ex: some@example.com" required="">
            </div>
            <div class="form-group form-group-default disabled">
              <label>Disabled</label>
              <input type="email" class="form-control" value="You can put anything here" disabled="">
            </div>
            <div class="row mt-5">
              <div class="col-xl-6 p-b-10">
              <p class="small-text hint-text">By clicking the "Get Started!" button, you are creating a Pages account, and you agree to Pages's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
              </div>
              <div class="col-xl-6">
              <button aria-label="" class="btn btn-primary pull-right btn-lg btn-block" type="submit">Get Started
              </button>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>