<nav class="nav-principal">
    <div class="background"></div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="far fa-user"></i>
          <span>Clientes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="far fa-file-contract"></i>
          <span>Contratos</span>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="far fa-sack-dollar"></i>
          <span>Financeiro</span>
        </a>
      </li>
  
    </ul>
  </nav>